body {
 background-color: #efefef;
 font-size: 20px;
 font-family: 'Helvetica', sans-serif;
}
.ticket {
  display: -ms-grid;
  -ms-grid-columns: 50% 50%;
  -ms-grid-rows: 25% 50% 25%;
  width: 60%;
  height: 250px;
  margin: auto;
  background-color: #fff;
}
.ticket:not(:last-child) {
  margin-bottom: 16px;
}
.ticket-key {
  -ms-grid-column: 1;
}
.ticket-assignee {
  -ms-grid-column: 2;
  text-align: right;
}
.ticket-summary {
  -ms-grid-column-span: 2;
  -ms-grid-row: 2;
}
.ticket-summary > span {
  vertical-align: middle;
}
.ticket .text {
   padding: 16px; 
}
